/* Compensa a navbar fixa */
body {
  padding-top: 70px;
}

#carouselExample {
  max-height: 300px;
  overflow: hidden;
}

#carouselExample .carousel-inner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* melhora foco do scrollspy */
section[id] {
  scroll-margin-top: 80px;
}
